@page
@model IndexModel
@{
    ViewData["Title"] = " Welcome to Home page";
    var id = User.Claims.Where(c => c.Type == "UserID").Select(c => c.Value).SingleOrDefault();
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>

<body>

    <p> Home Page</p>
    <div class="dropdown">
        <button class="dropbtn">
            Playlists
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            @foreach (var item in Model.Playlists)
            {
                <a asp-page="/" asp-route-id="@item.PlaylistID">@item.Name</a> 
            }
        </div>
    </div>

    <table class="table">
        <tbody>
            @foreach (var item in Model.Song)
            {
                <tr>
                    <td>
                        <input type="button" onclick="@(Html.Raw(String.Format("play('{0}')", Html.Encode(item.Filepath))))" value=@item.Name />
                    </td>
                    <td>
                        <a asp-page="/Artists/Details" asp-route-id="@item.Album.Artist.ArtistID"> @item.Album.Artist.Name </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>


<script>
    function play(filepath) {
        sessionStorage.setItem("url", filepath);
        sessionStorage.setItem("playSong", 1);
    }

</script>