@page
@model Eevee.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Profile</h1>

<div>
    <h4>_User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._User.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._User.UserID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._User.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._User.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._User.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._User.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model._User.UserID">Edit | </a>
    @if (Model.AccountType.AccountTypeID == 1)
    {
        <a asp-page="/Artists/Details" asp-route-id="@Model._User.UserID">Artist Profile | </a> 
    }
    else
    {
    <a asp-page="/Artists/Create" asp-route-id="@Model._User.UserID">Become an Artist | </a> 
    }
    <a asp-page="/Advertisers/Create" asp-route-id="@Model._User.UserID">Advertise | </a>
</div>
