@page
@model Eevee.Pages.Songs.DetailsModel

@{
    ViewData["Title"] = "Details";
    string ac_id = User.Claims.Where(c => c.Type == "AccountTypeID").Select(c => c.Value).SingleOrDefault();
    if (ac_id == null)
    {
        ac_id = "2";
    }
}

@*<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="~/css/profile.css" rel="stylesheet" type="text/css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>*@

<link rel="shortcut icon" href="/assets/favicon.ico">
<link href="~/css/profile.css" rel="stylesheet" type="text/css">




    <div class="title"><h1>Songs Details Page</h1></div>
    <div class="Song Profile">
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Name)
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Artist
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Song.Album.Artist.Name)
            </dd>
            <dt class="col-sm-2">
                Album
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Song.Album.Name)
            </dd>
            <dt class="col-sm-2">
                Genre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Song.Genre.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Song.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                Release
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Song.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Song.Duration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Song.Listens)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Song.Listens)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Song.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Song.Rating)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Song.Lyrics)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Song.Lyrics)
            </dd>
        </dl>
    </div>
    <div>
        @if (ac_id == "1")
        {
            <a asp-page="./Edit" asp-route-id="@Model.Song.SongID">Edit</a>}
        | <a asp-page="./Index">Back</a>
    </div>